@model List<Student>

<table>
    <head>
        <tr>            
            <td> ID</td>
            <td> Adı</td>
            <td> Soyadı</td>

        </tr>
        
    </head>
    
    <tbody>
         @foreach (var item in Model)
         {

             <tr>
                 <td> @item.Id</td>
                 <td> @item.Name</td>
                 <td> @item.Surname</td>
                 <td><a asp-controller="Student" asp-action="Detail" asp-route-id="@item.Id">Click For Detail</a></td>


             </tr> 
             
         }</tbody>
   
    
</table>

<button onclick="location.href='@Url.Action("Create", "Student")'" class="btn btn-success">
    Create New Student
</button>